<form method="post" action="{{ path('app_dailydiet_delete', {'id': dailydiet.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ dailydiet.id) }}">
    <button class="btn">Delete</button>
</form>
