<div class="flash-wrapper my-2">
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }} alert-dismissible m-4" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><i class="bi bi-x"></i></button>
            <div class="alert-message">
                {{ message|raw }}
            </div>
        </div>
    {% endfor %}
{% endfor %}
</div>