{% extends 'admin/layouts/base.html.twig' %}
{% block content %}
<!-- Begin Dashboard Section -->
<div class="content-wrapper">
    <!-- Page header -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>
                        Dashboard
                    </h1>
                </div>
                <div class="col-sm-6"></div>
            </div>
        </div>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- Users widget -->
                <div class="col-lg-4 col-6">
                    <div class="small-box card">
                        <div class="inner">
                            <h3>
                                {{ users|length }}
                            </h3>
                            <p>
                                Utilisateurs
                            </p>
                        </div>
                        <div class="icon">
                            <i class="bi bi-people"></i>
                        </div>
                        <a href= "{{ path('app_user_index') }}" class="small-box-footer text-dark">
                            Plus d'info  
                            <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-6">
                <div class="small-box card">
                    <div class="inner">
                        <h3>
                            {{ services|length }}
                        </h3>
                        <p>
                            Services
                        </p>
                    </div>
                    <div class="icon">
                        <i class="bi bi-wrench-adjustable-circle"></i>
                    </div>
                    <a href="{{ path('app_service_index') }}" class="small-box-footer text-dark">
                        Plus d'info  
                        <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            </div>
        </div>
    </section>
</div>
<!--  Dashboard Section End -->
{% endblock %}