{% extends 'admin/layouts/base.html.twig' %}
{% block content %}

    <div class="content-wrapper">
        <!-- Page header -->
        <section class="content-header">
            <div class="container-fluid my-2">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>
                            Modifier votre mot de passe
                        </h1>
                    </div>
                    
                </div>
            </div>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
            
            <div class="flash-wrapper my-2">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} alert-dismissible m-4" role="alert">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><i class="bi bi-x"></i></button>
                        <div class="alert-message">
                            {{ message|raw }}
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
            </div>
            
            <form method="post">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    
                                     <input type="password" id="pass" name="pass" class="form-control" placeholder="Nouveau mot de passe" required/>
                                 </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    
                                     <input type="password" id="pass2" name="pass2" class="form-control" placeholder="Confirmer le mot de passe" required/>
                                 </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="pb-5 pt-3">
                    <button class="btn btn-primary">Sauvegarder</button>
                </div>
            </form>
            </div>
        </section>
    </div>
{% endblock %}

